p
{
    color:#fff;
    padding: 50px;
    font-size: 1.2em;
}
body
{
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

header ul li a:hover,
header ul li a.active
{
    background:#fff;
    color:#110ec5;
}
section 
{
    position:relative;
    top: 200px;
    padding: 0px 100px;
}
h1
{
    text-align: center;
    color: #fff;
}
div
{
    background-color: #114b5f;
    border-radius: 40px;
}


